<!-- views/obs-render.ejs -->
<!doctype html>
<html>
	<head>
	<title>Planssi</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/animations.css">
	<script src="js/planssi_client.js"></script>
	<script src="js/websocket.js"></script>
	</head>
	<body onload="initWebSocket()">
		<div class="bg" id="bg">
			<div class="bg-row1 planssi-row" name="bg-row1"></div>
			<div class="bg-row2 planssi-row" name="bg-row2"></div>
			<div class="bg-row3 planssi-row" name="bg-row3"></div>
			<div class="bg-row4 planssi-row" name="bg-row4"></div>
			<div class="bg-row5 planssi-row" name="bg-row5"></div>
			<div class="bg-row6 planssi-row" name="bg-row6"></div>
		</div>
		<div class="bg_dyyd" id="bg_dyyd">
			<div class="bg_dyyd-row1 planssi-row" name="bg_dyyd-row1"></div>
			<div class="bg_dyyd-row2 planssi-row" name="bg_dyyd-row2"></div>
			<div class="bg_dyyd-row3 planssi-row" name="bg_dyyd-row3"></div>
			<div class="bg_dyyd-row4 planssi-row" name="bg_dyyd-row4"></div>
			<div class="bg_dyyd-row5 planssi-row" name="bg_dyyd-row5"></div>
			<div class="bg_dyyd-row6 planssi-row" name="bg_dyyd-row6"></div>
		</div>
		<div class="title1" id="title1">
			<div class="title1-row1" id="title1-row1" name="title1-row1"></div>
			<div class="title1-row2" id="title1-row2" name="title1-row2"></div>
		</div>
		<div class="title2" id="title2">
			<div class="title2-row1" id="title2-row1" name="title2-row1"></div>
			<div class="title2-row2" id="title2-row2" name="title2-row2">></div>
			<div class="title2-row3" id="title2-row2" name="title2-row3">></div>
		</div>
	</body>
</html>
